#navigazione{
	padding: 7px;
	background-color: grey;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
}

#pagina{
	padding: 50px 15px 15px 15px;
	background: white;
	width: 1400px;
	margin-top: 44px;
	margin-left: 230px;
	margin-right: auto;
}

#sx{
	position: fixed;
	height: 862px;
	width: 241px;
	background-color: #f2f2f2;
	float: left;
	margin: 0px;
	overflow: scroll;
	padding: 15px 0px;
	text-align: center;
}

@media only screen and (max-width: 720px) {
    #sx{
	display: none;
    }
}

div.esempi{
	margin: 10px;
	padding: 10px;
	background-color: #f2f2f2;
	box-shadow: 3px 3px 3px #d9d9d9;
}

div.codice{
	background-color: white;
	border-left: 4px solid #339933;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

html, body {
    margin-left: 0px;
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

a{
	text-decoration: none;
}

.menu{
	padding: 10px;
	height: 100%;
	font-size: 20px;
	text-weight: bold;
	color: white;
}

.menu:hover{
	background-color: black;
}

tr, td, table, th{
	margin: auto;
	border: 1px solid #cccccc;
	border-collapse: collapse;
	padding: 10px 97px;
}

td{
	background-color: #f2f2f2;
}

a.linkLaterali{
	text-align: left;
	display: block;
	padding: 5px 15px;
	width: 100%;
	color: black;
}

a.linkLaterali:hover{
	background-color: #cccccc;
}

button{
	border: none;
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: #FFFFFF;
	background-color: #4CAF50;
	font-family: Verdana,sans-serif;
	font-size: 15px;
	line-height: 1.5;
}